# ESP32-S3-LCD-1.47: overrides on top of sdkconfig.defaults

# 16MB flash
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y

# CPU frequency
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y

# PSRAM (Octal SPI, 80MHz)
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
